@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


body {
	font-family: 'Quicksand', sans-serif;
	/*background-color: rgb(242, 245, 255);*/
}

h1 {
	font-size: 2em;
	color: #444;
}

.content-main {
	padding-bottom: 5em;
}

.footer {
	background-color: #EDEDED;
	min-height: 4em;
	position: fixed ;
	left: 0 ;
	bottom: 0 ;
	z-index: 1 ;
	color: #6BB6FF;
}

#mainMenu{
	background-color: #f2f6ff;
}

#mainMenu nav{
	width: 100%;

}

.summary-icon {
	background-color: #f2f6ff;
}

.status-list {
	list-style: none;
}

.user-list ul{
	list-style: none;
}

.input-group-prepend {
	width: 7em;
}

.input-group-text {
	width: 100%;
}


